<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTf=8">

    <title>Patient Records</title>
{%  include 'navbar.html' %}

</head>
<body>
<table class="table table-striped table-bordered table-sm">
<thead class="thead_dark">
<tr>
   <th>Patient ID</th>
   <th>Patient Name</th>
   <th>Patient Disease</th>
   <th>Specalist</th>
   <th>Timings</th>
   <th>Booking Date</th>
   <th>Patient Contact</th>
   <th>Actions</th>
   </tr>
   <tbody>
   {% for patient in patients %}
   <tr>
   <td>{{patient.pid}}</td>
   <td>{{patient.pname}}</td>
   <td>{{patient.pdisease}}</td>
   <td>{{patient.pspecalist}}</td>
   <td>{{patient.ptimings}}</td>
   <td>{{patient.pbook_date</td>
   <td>{{patient.pcontact}}</td>
   <td>
   <a href ="/edit/{{patient.id}}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
   <a href ="/delete/{{patient.id}}">delete</a>
   </td>
   </tr>
   {% endfor %}
   </tbody>
   </table>
   <br>
   <center><a href="/pat" class="btn btn-primary">Add new records</a></center>
   </body>
    </html>